<body class="body">



<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <div class="card">
        <div class="card-body-main">
          <h6 class="card-title">Department : Inventory - 2</h6>
          <!-- <div class="card card-sm"> -->
            <!-- <div class="card-body"> -->
              <table class="table table-bordered">
                <tbody>
                  <tr>
                    <td class="orange">No of Lots pending for issue in report for more than 48 hrs</td>
                    <td class="orange">43</td>
                  </tr>
                  <tr>
                    <td class="green">Lots Issued</td>
                    <td class="green">22</td>
                  </tr>
                </tbody>
              </table>
            <!-- </div> -->
          <!-- </div> -->
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-body-main">
          <h6 class="card-title">Department : Dispatch</h6>
          <!-- <div class="card card-sm">
            <div class="card-body"> -->
              <table class="table table-bordered">
                <tbody>
                  <tr>
                    <td class="orange">No of Lots pending for issue in report for more than 48 hrs</td>
                    <td class="orange">43</td>
                  </tr>
                  <tr>
                    <td class="green">Lots Issued</td>
                    <td class="green">22</td>
                  </tr>
                </tbody>
              </table>
            <!-- </div>
          </div> -->
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-body-main">
          <h6 class="card-title">Department : FG-Store</h6>
          <!-- <div class="card card-sm">
            <div class="card-body"> -->
              <table class="table table-bordered">
                <tbody>
                  <tr>
                    <td class="orange">No of Lots pending for issue in report for more than 48 hrs</td>
                    <td class="orange">43</td>
                  </tr>
                  <tr>
                    <td class="green">Lots Issued</td>
                    <td class="green">22</td>
                  </tr>
                </tbody>
              </table>
            <!-- </div>
          </div> -->
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-body-main">
          <h6 class="card-title">Department : Final</h6>
          <!-- <div class="card card-sm">
            <div class="card-body"> -->
              <table class="table table-bordered">
                <tbody>
                  <tr>
                    <td class="orange">No of Lots pending for issue in report for more than 48 hrs</td>
                    <td class="orange">43</td>
                  </tr>
                  <tr>
                    <td class="green">Lots Issued</td>
                    <td class="green">22</td>
                  </tr>
                </tbody>
              </table>
            <!-- </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
</body>
